@media (min-width: 768px){
    .search, .restaurants {
        padding-left: 8px;
        padding-right: 8px;
    }
    .restaurant-card__container {
        width: auto;
    }
    .restaurant-card__image {
        width: 368px;
    }

    .restaurants__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 48px;
    }


}
