@media (min-width: 1124px){
    .search, .restaurants {
        padding-left: 84px;
        padding-right: 84px;
    }
    .restaurant-card__image {
        width: 308px;
    }
    .restaurants__list{
        margin-bottom: 80px;
    }
}
