body {
    padding: 0;
    margin: 0 auto;
    width: 100%;

}
.page-header{
    display: flex;
    flex-shrink: 0;
    box-shadow: 0 3px 5px -5px;
    align-items: center;
    justify-content: space-between;


}

.page-header__logo{
    margin-left: 8px;
}

.page-header__list{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-right: 8px;


}
/*.user-list__item{*/
/*    display: flex;*/
/*}*/


.user-list__login-link{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #1D1D1D;
    font-weight: bold;
}

.user-list__login-button{
    padding: 14px 20px;
    background-color: #FFFFFF;
    border: 0.1em solid #E0E0E0;
    margin-right: -16px;

}

.user-list__basket {
    visibility: hidden;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*Footer*/

.page-footer {
    padding-left: 8px;
    padding-right: 8px;
    background-color: #262626;
}

hr {
    border: 0;
    height: 1px;
    background: #979797;
}

.footer-header {
    padding-top: 56px;
    padding-bottom: 40px;
}

.page-footer__inner{
    padding-top: 32px;
    padding-bottom: 40px;
}

.language-container{
    width: 173px;
    height: 40px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: hsl(0, 0%, 23%);
    overflow: hidden;
    margin-right: 139px;
    opacity: 1.0;
    position: relative;

}

.language-container__image {
    margin-right: 16px;
    margin-left: 16px;

}

.language-container__select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 125px;
    height: 40px;
    border-radius: 0;
    background-color: hsl(0, 0%, 23%);
    border: none;
    color: #FFFFFF;

}

.language-container:hover,
.language-container:focus {
    opacity: 0.8;

}

.language-container::after{
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    top: 10px;
    right: 16px;
    color: #FFFFFF;
    pointer-events: none;
}


/* For IE <= 11 */
.page-footer__language::-ms-expand {
    display: none;
}
