@media (min-width: 768px) {
    .restaurant-card{
        margin: 80px 328px 80px 8px;
        padding: 38px 48px 38px 52px;
    }
    .restaurant-card__name {
        font-size: 36px;
    }
    .restaurant-card__info {
        flex-direction: row;
        margin: 54px 0 0;
    }
    .restaurant-card__preparing-time{
        margin-left: 112px;
        padding: 9px 16px;
    }

    .content-navbar {
        visibility: visible;
        margin-bottom: 0;
    }
    .menu {
        margin-top: 0;
        padding: 0 8px;
    }

    .menu-header {
        margin: 0 -8px;
        border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
    }

    .nav-links {
        padding-left: 0;
        margin: 32px 0 29px 8px;
        /*margin-top: 32px;*/
        display: flex;
    }

    .nav-links__item-link {
        color: #626262;
        font-size: 16px;
        font-family: Roboto, sans-serif;
    }

    .nav-links__item {
    margin-right: 40px;
    }

    .nav-links__item-link:focus{
        color: #327430;
    }

    .menu__category-border {
        visibility: hidden;
        margin: 0;
    }

    .menu__category-name{
        text-align: start;
        margin-bottom: 37px;
    }

    .menu-tables__wrapper {
        margin: 0 0 48px;
    }

    .menu-table {
        width: 100%;
        margin-top: -5px;
    }

    .menu-table__item{
        margin-bottom: 32px;
        border: 1px solid hsla(0, 0%, 38%, 0.3);
    }

    .menu-table__item:hover, .menu-table__item:focus{
        opacity: 0.5;
    }

    .item-title{
        font-size: 16px;
        width: 100%;
    }
    .menu-table__item-info {
        margin: 16px 24px 0;
    }

    .menu-table__item-image{
        margin-bottom: -5px;
    }


    .item-image {
        width: 200px;
        height: auto;
    }

    .item-price {
        margin-top: 103px;
    }

}
