
.restaurant-header {
    background-image: url(pushkin_public/pushkin_background_mobile.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;

}


.restaurant-card {
    margin-top: 131px;
    background-color: white;
    box-shadow: 0 3px 5px -5px;
    display: flex;
    flex-direction: column;
    margin-bottom: -56px;
    padding-top: 0;
    width: 100%;
    margin-right: 6px;
    margin-left: 6px;
    padding-bottom: 32px;
}

.restaurant-card__name {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 24px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: lighter;
}

.restaurant-card__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.restaurant-card__cuisine {
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #626262;
    margin-bottom: 25px;
}

.restaurant-card__preparing-time {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #1D1D1D;
    padding: 9px 16px;
    margin: 0 auto;
    border-radius: 50px;

}

/**/

.menu, .menu-content {
    margin-right: 6px;
    margin-left: 6px;
}

.menu {
    margin-top: 88px;
    margin-left: 0;
    margin-right: 0;
}

.menu-header {
    border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
}

.nav-links {
    /*margin-left: 6px;*/
    padding-left: 0;
    display: flex;
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
}

.nav-links__item-link {
    color: hsla(0, 0%, 38%, 0.3);
    font-size: 15px;
    font-family: Roboto, sans-serif;
}

.nav-links__item {
/*margin-right: 10px;*/
}


/**/

.menu__category-name {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    padding-top: 56px;
    padding-bottom: 12px;
    text-align: center;

}

.menu__category-wrapper{
    background: #757575;
    border: 0;
    height: 1px;
    margin-left: 145px;
    margin-right: 145px;
    margin-bottom: 47px;
}

.item-title {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #1D1D1D;
    font-weight: revert;
    margin-left: 0;
}

.item-title__wrapper {
    /*width: 180px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.menu-table{
    /*padding: 0;*/
    /*margin: 0 auto;*/
    width: 100%;
    margin-top: -4px;

}

.menu-table__item-info {
    text-align: start;
}

.menu-table__item-link {
    display: flex;
    flex-direction: column;
}


.menu-tables__wrapper {
    margin-bottom: 40px;
}

.menu-table__item {
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
    margin-bottom: 16px;

}



.item-image {
    width: 102px;
    height: auto;
}

.item-title__wrapper {
    /*margin-bottom: 41px;*/
}

.item-title {
    margin-top: 5px;
    margin-bottom: 0;
}

.item-contains {
    color: #626262;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    margin-top: 4px;
    margin-bottom: -32px;
    font-weight: normal;
}

.item-price {
    margin-top: 41px;
    color: #1D1D1D;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: bold;
}




