.page-main {
    padding-right: 4px;
    padding-left: 4px;
}
/**/

.search {
    margin-top: 32px;
}

.search__line {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
    font-family: Roboto, sans-serif;
    /*font-size: 16px;*/
    /*color: hsl(0, 0%, 74%);*/
    /*margin-left: 4px;*/

}

.search__line[type=text] {
    color: hsla(0, 0%, 38%, 0.3);
    margin-left: 4px;
    font-size: 16px;

}

.search__line::placeholder {
    color: hsla(0, 0%, 38%, 0.3);
    margin-left: 4px;
    font-size: 16px;
}
