.page-main {
    padding-right: 4px;
    padding-left: 4px;
}

/*Search bar*/
.search {
    margin-top: 55px;
    margin-right: 4px;
}

.search__wrapper {
    position: relative;
}

.search__line {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
    font-family: Roboto, sans-serif;
    line-height: 24px;

}

.search__line[type=text] {
    color: #1D1D1D;
    margin-left: 4px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.search__line::placeholder {
    color: hsla(0, 0%, 38%, 0.3);
    margin-left: 4px;
    font-size: 16px;
}

.button__search-close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    color: #80868b;
    cursor: pointer;
    height: 50%;
    padding: 0;
    background-color: #FFFFFF;
    border: 0;
    visibility: hidden;
    /*outline: none;*/
}

.close-btn__icon {
    width: 24px;
}

.button__search-close:hover,
.button__search-close:focus{
    opacity: 0.3;
    outline: none;
}


/*Restaurants cards*/
.restaurants__header {
    margin-left: 4px;
    margin-bottom: 16px;
    margin-top: 56px;
}

.title {
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}

.restaurants__item.hide {
    display: none;
}

.restaurants__list {
    width: 100%;
    padding: 0;
    /*margin: 0 auto;*/
    margin-bottom: 43px;
}

.restaurant-card__container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 20px;
}

.restaurant-card__image {
    /*max-width: 310px;*/
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.restaurant-card__title {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 16px;

}

.restaurant-card__cuisine {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #626262;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.restaurant-card__preparing-time {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #1D1D1D;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 0;
}



